{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h2 class="ui header">
        {{assessment.weight}}
        {{assessment.chest}}
        {{assessment.thigh}}
        {{assessment.upperarm}}
        {{assessment.waist}}
        {{assessment.hips}}
    </h2>
   {{> assessment-table}}
    {{> addassessment}}
    {{> analytics}}
</section>